<%= paginator.render do %>
  <nav class="flex items-center justify-between border-t border-gray-200 px-4 py-3 sm:px-6 mt-4">
    <div class="flex space-x-2">
      <%= first_page_tag %>
      <%= prev_page_tag %>
    </div>
    <span class="text-sm text-gray-700">
      <%= "#{current_page} of #{total_pages}" %>
    </span>
    <div class="flex space-x-2">
      <% unless current_page.out_of_range? %>
        <%= next_page_tag %>
        <%= last_page_tag %>
      <% end %>
    </div>
  </nav>
<% end %>
